@import "variables";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  height: 100vh;
  font-size: $font-small;
  font-family: 'Hanken Grotesk', sans-serif;
}