$light-blue: hsl(241, 100%, 89%);
$whiteColor: hsl(0, 0%, 100%);
$blackColor: hsl(224, 30%, 27%);
$greyColor: hsl(221, 100%, 96%);

$mb24: 24px;

$bold: 700;
$regular: 500;
$bolder: 800;

$font-small: 16px;
$font-regular: 18px;
$font-large: 24px;

$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);


